<%= javascript_import_module_tag "mapper" %>

<% if @tickets.present? %>
  <h2>Tickets</h2>
  <% @tickets.each_with_index do |ticket, index| %>
    <table class="table">
      <thead>
      <tr>
        <% @tickets.first.attributes.each_key do |key| %>
          <th scope="col"><%= key.humanize %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
        <tr>
          <% ticket.attributes.each_value do |value| %>
            <td><%= link_to value, api_ticket_path(ticket) %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <div class="container">
      <h2>Excavators</h2>
      <%= render partial: 'api/tickets/excavator_table', locals: {excavators: ticket.excavators} %>
      <div id="map-<%= index + 1 %>" data-polygon="<%= ticket.well_known_text %>"  style="height:500px"></div>
    </div>
  <% end %>
<% else %>
  <p>No tickets available.</p>
<% end %>
